body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}

.carro-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}